$background-color: #424242 !default;
$foreground-color: rgba(255,255,255,0.87) !default;
$black-font-color: #333 !default;
$base-font-family: Roboto, 'Segoe UI', Helvetica, Arial, sans-serif !default;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: $base-font-family;
  font-weight: 100;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $background-color;
  color: $foreground-color;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex: 0 0 15rem;
  background: white;
  color: $black-font-color;
  flex-direction: column;
  padding: 2rem;
  padding-top: 0;

  input, p {
    background: transparent;
    border: none;
    text-align: right;
    margin: 0;
    padding: 0;
    font-size: 4rem;
  }

  input {
    flex: 0 0 60%;
    font-family: $base-font-family !important;
    font-size: 6rem;

    &:focus, &:active, &:hover {
      border: none;
      outline: none;
    }
  }

  p {
    flex: 1;
    opacity: 0.75;
  }
}

main {
  display: flex;
  flex: 1 1;

  button {
    background: transparent;
    outline: none;
    border: none;
    color: $foreground-color;
    font-size: 3rem;
    font-weight: 100;
    font-family: $base-font-family !important;

    &:hover {
      cursor: pointer;
    }
  }
  
  .keypad {
      display: flex;
      flex: 1 1 80%;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      background: $black-font-color;

      button {
        width: 33%;
    }
  }

  .operations {
    display: flex;
    flex: 1 1 20%;
    flex-wrap: wrap;

    button {
      width: 100%;
      font-size: 2rem;
    }
  }
}
