body,
html {
	font-size: 100%;
	font-family: Roboto, Segoe UI, Helvetica, Arial, sans-serif;
	font-weight: 100
}

#app,
body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0
}

#app {
	background: #424242;
	color: hsla(0, 0%, 100%, .87);
	-ms-flex-direction: column;
	flex-direction: column
}

#app,
header {
	display: -ms-flexbox;
	display: flex
}

header {
	-ms-flex: 0 0 15rem;
	flex: 0 0 15rem;
	background: #fff;
	color: #333;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 2rem;
	padding-top: 0
}

header input,
header p {
	background: transparent;
	border: none;
	text-align: right;
	margin: 0;
	padding: 0;
	font-size: 4rem
}

header input {
	-ms-flex: 0 0 60%;
	flex: 0 0 60%;
	font-family: Roboto, Segoe UI, Helvetica, Arial, sans-serif!important;
	font-size: 6rem
}

header input:active,
header input:focus,
header input:hover {
	border: none;
	outline: none
}

header p {
	-ms-flex: 1;
	flex: 1;
	opacity: .75
}

main {
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1 1;
	flex: 1 1
}

main button {
	background: transparent;
	outline: none;
	border: none;
	color: hsla(0, 0%, 100%, .87);
	font-size: 3rem;
	font-weight: 100;
	font-family: Roboto, Segoe UI, Helvetica, Arial, sans-serif!important
}

main button:hover {
	cursor: pointer
}

main .keypad {
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1 1 80%;
	flex: 1 1 80%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	background: #333
}

main .keypad button {
	width: 33%
}

main .operations {
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1 1 20%;
	flex: 1 1 20%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

main .operations button {
	width: 100%;
	font-size: 2rem
}

footer {
	padding: 1rem 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 0 0 3rem;
	flex: 0 0 3rem;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-line-pack: center;
	align-content: center;
	background: #666
}

footer div {
	text-align: center
}

footer .heart {
	height: 1rem;
	width: 1rem
}

footer a {
	color: #fff;
	font-weight: 400;
	text-decoration: none
}

footer svg {
	width: 1rem;
	height: 1rem
}

footer svg,
footer svg polygon,
footer svg rect {
	fill: currentColor
}

footer .view-source {
	margin-top: .5rem
}
